# Dependencies
node_modules/

# Database
*.db
*.sqlite

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
